name: Python CI

on:
  push:
  pull_request:
permissions:
  contents: read
  security-events: write
jobs:
  ci:
    uses: PJawanth/.github/.github/workflows/Python_ci_template.yml@v1
    with:
      run_tests: true
      enable_security: true
