name: Python CI

on:
  push:
  pull_request:
permissions:
  contents: read
  security-events: write
jobs:
  ci:
    uses: PJawanth/.github/.github/workflows/Python_ci_template.yml@94efbec46862be96558c36f7ae864bf7f59e7bec
    with:
      run_tests: true
      enable_security: true
